@font-face {
    font-family: economia;
    src: url(/font/Economica/Economica-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(/font/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
    font-family: teko;
    src: url(/font/Teko/Teko-Regular.ttf);
}

@font-face {
    font-family: zillaSlab;
    src: url(/font/Zilla_Slab/ZillaSlab-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(0.2+1vw);
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    /* border: 3px solid red; */
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#calculatorPack {
    height: 95vh;
    width: 50vw;
    background-image: linear-gradient(to bottom, #565656, #4a4a4a, #313030, #060606, #000000);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

#partOne {
    height: 25vh;
    width: 90%;
    margin-top: 5%;
    border-bottom: 2px solid white;
}

#logoDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background: red; */
    align-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

#logoDiv p,
#logoDiv span {
    color: white;
    font-family: poppins;
}

#logoDiv p {
    font-size: 1rem;
}

#logoDiv span {
    font-size: 1.5rem;
}

#calTop {
    width: 90%;
    height: 17vh;
    top: 50%;
    left: 50%;
    border-radius: 12px;
}

#tradeMark {
    right: 2%;
    top: 2%;
}


#logo {
    right: 2%;
    top: 15%;
    font-size: 1.5vw;
}

#screenDiv {
    height: 80%;
    width: 100%;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    background: black;
    color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#screenDiv p {
    width: 100%;
    font-size: 1.5rem;
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: quicksand, serif;
}

#totalValue {
    height: 60%;
    outline: none;
    border: none;
}

#calculation {
    height: 40%;
}



/* PART TWO */

#partTwo {
    border-bottom: 1px solid white;
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.button {
    height: 60%;
    width: 15%;
    background: #66adf5;
    color: black;
    top: 50%;
    font-size: 0.7rem;
    outline: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#off,
#on {
    width: 10%;
}

#off{
    background-color: red;
}

#on{
    background-color: green;
}

.spanBtnLogo {
    color: black;
    font-size: 1vw;
}



/* PART THREE */
#partThree {
    height: 50vh;
    width: 90%;
    border: 1px solid black;
    background: black;
    display: flex;
    font-family: 'quicksand';
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#btnSetOne {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid white;
    align-content: center;
    align-items: center;
    padding: 1% 2%;
    font-size: 2vw;
}

.btnSetOneBtns {
    width: 7vw;
    height: 6vh;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
}


#btnSetTwo {
    width: 48%;
    height: 100%;
    /* padding: 1%; */
    display: grid;
    border: 1px solid white;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, 15%);
    grid-gap: 10% 2%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
}

.btnSetTwoBtn {
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    font-size: 1.5rem;
}


#btnSetThree {
    width: 30%;
    height: 100%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, 42%);
    grid-template-rows: repeat(6, 13%);
    grid-gap: 3% 6%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-content: center;
}

.btnSetThreeBtn {
    width: 100%;
    height: 100%;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#equalBtn {    
    
    grid-row: 5/span 2;

}

#plusSign{
    grid-row: 5/span 2;
}




@media screen and (max-width: 830px) {

    .button{
        font-size: 0.6rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.8rem;
    }  
}

@media screen and (max-width: 690px) {

    .button{
        font-size: 0.5rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.8rem;
    }  
}
@media screen and (max-width: 620px) {

    #calculatorPack{
        width: 65vw;
    }  
}

@media screen and (max-width: 475px) {

    #calculatorPack{
        width: 100vw;
    }  
}


@media screen and (max-width: 270px) {

    .button{
        font-size: 0.4rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.7rem;
    }  


}

@media screen and (max-width: 235px) {

    .button{
        font-size: 0.4rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.6rem;
    }  

    #screenDiv p{
        font-size: 1rem;
    }
}


@media screen and (max-width: 195px) {

    .button{
        font-size: 0.3rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.5rem;
    }  
}
@media screen and (max-width: 166px) {

    .button{
        font-size: 0.3rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.4rem;
    }  
}

@media screen and (max-width: 134px) {

    .button{
        font-size: 0.2rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.3rem;
    }  

    #screenDiv p{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 106px) {

    .button{
        font-size: 0.15rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.25rem;
    }  

    #screenSize p{
        font-size: 0.2;
    }
}

@media screen and (max-width: 90px) {

    .button{
        font-size: 0.10rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.20rem;
    }  

    #screenSize p{
        font-size: 0.2px;
    }
}

@media screen and (max-width: 74px) {

    .button{
        font-size: 0.09rem;
    }

    #logoDiv p,
    .btnSetOneBtns,
    .btnSetTwoBtn,
    .btnSetThreeBtn{
        font-size: 0.1rem;
    } 
    
    #screenSize p{
        font-size: 0.2px;
    }
}